.homepage-parent {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.homepage-parent .homepage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 7%;
  padding-top: 15px;
  padding-bottom: 10px;
  /* background-color: yellow; */
}

.homepage-parent .homepage-header h3 {
  font-size: 32px;
  margin: 0;
}

.homepage-parent .for-you-content,
.homepage-parent .new-post-content {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  padding: 20px;
  padding-top: 0;
  padding-left: 3%;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.custom-slider {
  /* background-color: orange; */
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  width: 100%;
  gap: 20px;
}
