.homepage-parent {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.homepage-parent .homepage-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 7%;
  margin: 15px;
  background-color: yellow;
}

.homepage-parent .homepage-header h3 {
  font-size: 32px;
  margin: 0;
}

.homepage-parent .for-you-content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-left: 3%;
  padding-right: 7%;
  margin: 15px;
  background-color: red;
}



.homepage-parent .new-post-content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-left: 3%;
  padding-right: 7%;
  margin: 15px;
  background-color: green;
}
