.loginSignupParentCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginSignupParentCont .loginSignupChildCont {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  margin: auto;
  border-radius: 15px;
}

/* rightcont start */

.loginSignupParentCont .loginSignupChildCont .loginSignupChildCont-right {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-left: auto;
  text-align: center;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* background-image: url('../../assets/images/loginImage.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; */
  height: fit-content;
}

.loginSignupParentCont .loginSignupChildCont .loginSignupChildCont-right .h1 {
  font-size: 32px;
  color: black;
  font-weight: 600;
}

.loginSignupParentCont .loginSignupChildCont .loginSignupChildCont-right .p1 {
  font-size: 20px;
  color: white;
  font-weight: regular;
  /* padding-left:30px;
    padding-right: 30px; */
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-right
  .loginSignupChildCont-rightTopContent {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  line-height: 5px;
  align-items: start;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-right
  .loginSignupChildCont-rightTopContent
  .loginSignupChildCont-rightTopContent1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  column-gap: 10px;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-right
  .loginSignupChildCont-rightTopContent
  .loginSignupChildCont-rightTopContent2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  column-gap: 10px;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-right
  .loginSignupChildCont-rightBottomContent {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  line-height: 5px;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-right
  .loginSignupChildCont-rightBottomContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  align-items: start;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-right
  .loginSignupChildCont-rightButton {
  font-size: 20px;
  color: white;
  font-weight: 500;
  background-color: #133e87;
  border: none;
  padding: 10px 25px;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 0;
  border-radius: 15px;
}
/* rightCont end */
/* leftcont */

.loginSignupParentCont .loginSignupChildCont .loginSignupChildCont-left {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  text-align: center;
  padding: 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-left
  .titleCont
  h1 {
  font-size: 26px;
  color: black;
  font-weight: 600;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-left
  .contentCont
  h1 {
  font-size: 32px;
  color: black;
  font-weight: 600;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-left
  .contentCont
  p {
  font-size: 24px;
  color: black;
  font-weight: regular;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-left
  .contentCont
  p {
  font-size: 24px;
  color: black;
  font-weight: regular;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-left
  .contentCont
  .loginSignupChildCont-rightButton {
  font-size: 20px;
  color: white;
  font-weight: 500;
  background-color: #133e87;
  padding: 10px 25px;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 0;
  border-radius: 15px;
  border: none;
}

.loginSignupParentCont
  .loginSignupChildCont
  .loginSignupChildCont-left
  .contentCont
  .loginSignupChildCont-rightButton
  p {
  color: white;
}
